
.mapMainBody{
    align-items: center;
    justify-content: center;

}
.window{
    align-items: center;
    z-index: 50;
    position: absolute;
    height: 50vh;
    width: 80vw;
    background: white;
    bottom: -500px;
    left: 41.406px;
    right: 41.406px;
    border-radius: 15px;
    overflow: scroll;
    transition: .2s;


}
.slide{
    bottom: 150px;

}

/* Info window contents */

.title{
    font-size: 33px;
    font-weight: 600;
}
.subTitle{
    font-size: 30px;
    font-weight: 400;

}
.infoSection{
    
}
.lineBreak{
    background: linear-gradient(right, white, black, white);
    height: 1px;
}
.joinGame{
    background: radial-gradient(white,black);
    padding: 17px;
    border-radius: 13px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    transition: .2s;
}
.clickJoin{
     background: radial-gradient(black,white);
     color: white

}
.searchBar{
    position: fixed;
    bottom:26px;
    left: 7px;
}
.searchButton{
    background: white;
    border-right: none;
    border-top: none;
    border-bottom: none;
    height: 26px;

}