.mainHeader{
    z-index: 20;
    /* font-family: 'Oswald', sans-serif;    font-weight: 300; */
    position: fixed;
    display: flex;
    height: 80px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background: rgb(151, 151, 151);
    box-shadow: -2px 2px 25px rgb(56, 56, 56);

    /* background: linear-gradient(right, rgb(44, 41, 41), rgb(80, 79, 79)); */
    /* background-color:rgb(204, 47, 47); */
    /* transition: 3s; */
    

}
.logoImg{
    height: 75px;
}
.subLogoImg{
    height: 60px;
}
.loginLogo{
    height: 100px;
}
.h3{
    position: relative;
    margin: 0px;
    box-shadow: -2px 2px 25px rgb(56, 56, 56);
    padding:20px;
    color: rgb(226, 225, 225);
    background: #932120;
    width: 100%

}
.taas{
    z-index: 10;

}

.filterMenu{
    z-index: -5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background: #932120;
    position: absolute;
    top:-120px;
    transition: .09s;
    color: rgb(226, 225, 225);

}
.filterSlide{
    top:130px;
    /* background:rgb(151, 151, 151); */

}
.filterButton{
    width: 70px;
    height: 36px;
    /* background: rgb(250, 250, 250);
    color: black;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: -2px .5px .2px #181818; */
    box-shadow: -2px 2px 25px rgb(125, 128, 125);
    text-shadow: none;
	background:#ccc;
	color:rgb(151, 151, 151);
    text-align:center;
	text-decoration:none;
    font-weight:900;
    margin: 10px;
    
    text-justify: center; 
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    box-shadow: -5px 10px 25px #181818;
    border-radius: 15px;
    background: rgba(29, 28, 28, 0.226);
    font-weight: 300;
    outline: none;
    border: none;
    line-height: none;
    color: #2a2b29;
    background: #979797;
    font-weight: 500;
}


.dashboardMenu{
    z-index: 5;
    position: absolute;
    top: -80px;
    transition: .09s;


}
.slide2 {
    position: relative;
    top:27px;
}
.iconButton{
    padding-left: 15px;
    padding-right: 15px
}
.underline{
    position: relative;
    z-index: 100;
    top: 80px;
    width: 100vw;
    height: 0px;
    background: rgba(255, 255, 255, 0)
}
.underline1{
    position: relative;
    width: 100vw;
    height: 1px;
    background: linear-gradient(left, rgb(226, 225, 225), rgb(155, 154, 154));
}
/* .underline1:nth-child(2){
    background: linear-gradient(left, rgb(34, 34, 34),  rgb(226, 225, 225));

} */
/* ham menu */
.ham{
    width: 35px;
    height: 5px;
    background-color:  rgb(34, 34, 34);
    margin: 6px 0;
    padding-left: 10px;
    transition: .25s;
}

.one{
    transform: rotate(405deg) translate(7px,5px);
    /* box-shadow: -2px 2px 25px rgb(125, 128, 125); */

    
}
.two{
    background-color: rgba(255, 255, 255, 0);
}
.three{
    transform: rotate(-405deg) translate(10px, -9px);
    /* box-shadow: -2px 2px 25px rgb(125, 128, 125); */

}
.user{
   
}
.user{
    font-size: 36px;
    color:  rgb(34, 34, 34);
}
.logo{
    padding-bottom: 10px;
    color: rgb(250, 250, 250);
    /* color:rgb(172, 3, 25); */
    text-shadow: .5px .5px 1px rgb(136, 136, 136);
}
.button{
    width: 70px;
    height: 36px;
    /* background: rgb(250, 250, 250);
    color: black;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: -2px .5px .2px #181818; */
    box-shadow: -2px 2px 25px rgb(125, 128, 125);
    text-shadow: none;
	background:#ccc;
	color:rgb(151, 151, 151);
    text-align:center;
	text-decoration:none;
    font-weight:900;
    margin: 10px;
    
    text-justify: center; 
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 17px;

}
.headerButton{
    height: 37px;
    width: 69px;
}
.paraSaan{
    padding-left: 17px;
}

.tao{
    color: black;
}
.salita{
    font-size: 24px;
}

