.mainHeader{
    z-index: 20;
    font-family: 'Oswald', sans-serif;    font-weight: 300;
    position: fixed;
    display: flex;
    height: 80px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background: rgb(151, 151, 151)
    /* background: linear-gradient(right, rgb(44, 41, 41), rgb(80, 79, 79)); */
    /* background-color:rgb(204, 47, 47); */
    /* transition: 3s; */
    

}
.h3{
    margin: 0px;
    padding:20px;
    color: rgb(226, 225, 225);
    /* background: linear-gradient(left, rgb(8, 8, 8), rgb(56, 56, 56)); */
    background: rgb(172, 3, 25);
    /* transition: 3s */

}
.filterMenu{
    z-index: -5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background: rgb(172, 3, 25);
    position: absolute;
    top:-120px;
    transition: .5s;
    color: rgb(226, 225, 225);

}
.filterSlide{
    top:138px;
    /* background:rgb(151, 151, 151); */

}



.dashboardMenu{
    z-index: 10;
    position: absolute;
    top: -80px;
    transition: .2s;


}
.slide2 {
  top:80px;
}
.iconButton{
    padding-left: 15px;
    padding-right: 15px
}
.underline{
    position: relative;
    z-index: 100;
    top: 80px;
    width: 100vw;
    height: 3px;
    background: linear-gradient(right, rgb(226, 225, 225), rgb(34, 34, 34));
}
.underline1{
    position: relative;
    width: 100vw;
    height: 3px;
    background: linear-gradient(left, rgb(226, 225, 225), rgb(34, 34, 34));
}
.underline1:nth-child(2){
    background: linear-gradient(left, rgb(34, 34, 34),  rgb(226, 225, 225));

}
/* ham menu */
.ham{
    width: 35px;
    height: 5px;
    background-color:  rgb(34, 34, 34);
    margin: 6px 0;
    transition: .25s
}

.one{
    transform: rotate(405deg) translate(9px,3px)
    
}
.two{
    background-color: rgba(255, 255, 255, 0);
}
.three{
    transform: rotate(-405deg) translate(12px, -7px)
}
.user{
   
}
.user{
    font-size: 36px;
    color:  rgb(34, 34, 34);
}
.logo{
    padding-bottom: 10px;
    color: rgb(250, 250, 250);
}
.button{
    width: 10vh;
    height: 5vh;
    /* background: rgb(250, 250, 250);
    color: black;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: -2px .5px .2px #181818; */
    box-shadow: -2px 2px 25px rgb(125, 128, 125);
    text-shadow: none;
	background:#ccc;
	color:rgb(151, 151, 151);
	line-height:2;
    text-align:center;
	text-decoration:none;
    font-weight:900;
    margin: 10px;
    
    text-justify: center; 
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 17px;

}
