.login{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
    background-image: url('../images/background.jpeg');
    background-size: cover;
   
}
.auth0{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    text-justify: auto;
    height: 200px;
    width: 80vw;
    border-radius: 20px;
    box-shadow: -5px 10px 25px #181818;
    background: linear-gradient(
    to left,
    rgb(134, 134, 134),
    rgb(182, 182, 182) 
    );
    color:rgb(151, 151, 151);
    text-shadow: -2px 2px 20px rgb(125, 128, 125);
    font-family: 'Oswald', sans-serif;    font-weight: 300;
    font-size: 67px;
    margin-bottom: 50px;
}
.loginButton{
    box-shadow: -2px 2px 25px rgb(125, 128, 125);
    text-shadow: none;
    display: block;
	width:9em;
	height:2em;
	background:#ccc;
	color:rgb(151, 151, 151);
	line-height:2;
	text-align:center;
	text-decoration:none;
    font-weight:900;
    
    
    margin-top: 20px;
    text-justify: center; 
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    height: 36px;
    width: 70vw;
}



